@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Oswald&family=Permanent+Marker&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  color: #0b2a46;
}

body {
  background-color: #2189D2;
}
